.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.coverage
.pytest_cache/
attendance.db
static/qr.png
static/backups/
*.log
.DS_Store
ngrok.exe
ngrok.zip